APP_NAME=Image Upscaler AMD
APP_HOST=127.0.0.1
APP_PORT=8090
MAX_UPLOAD_MB=50
MAX_VIDEO_UPLOAD_MB=2048
MAX_IMAGE_PIXELS=120000000
GPU_CONCURRENCY=1
CPU_FALLBACK_WORKERS=2
FFMPEG_BINARY=vendor/ffmpeg/bin/ffmpeg.exe
FFPROBE_BINARY=vendor/ffmpeg/bin/ffprobe.exe
FFMPEG_DECODE_THREADS=12
FFMPEG_ENCODE_THREADS=24
FFMPEG_X265_THREADS=8
RUNTIME_DIR=runtime
ENGINE=realesrgan-ncnn
ENGINE_BINARY=vendor/realesrgan/realesrgan-ncnn-vulkan.exe
ENGINE_MODELS_DIR=vendor/realesrgan/models
DEFAULT_MODEL=realesrgan-x4plus
DEFAULT_SCALE=4
ALLOWED_SCALES=2,3,4
DEFAULT_VIDEO_PROFILE=anime-balanced-2x
JPEG_QUALITY=95
WEB_TITLE=AMD Image Upscaler
